:root {
    --navy: #1F2937;
    --pink: #DA6AEC;
    --red: #F43F5E;
    --blue: #2F74DC;
    --green: #22CD90;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9e3ff;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */

button {
    background-color: #E5E7EB;
    color: #4B5563;
    border: 1px solid #6B7280;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: .25rem;
}

button > svg {
    margin-right: 7px;
    color: green;
    height: 20px;
    width: 20px;
}

button.button-small {
    padding: 7px 11px;
    font-size: 12px;
}

button.button-large {
    padding: 13px 25px;
    font-size: 20px;
}

.green {
    color: green;
}

.success {
    color: #047857;
    background-color: #ECFDF5;
    border-color: #047857;
}

.warning {
    color: #FBBF24;
    background-color: #FFFBEB;
    border-color: #FBBF24;
}

.danger {
    color: #F87171;
    background-color: #FEF2F2;
    border-color: #F87171;
}

/* AVATAR */


.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .3rem solid white;
    margin-top: .5rem;
}

.avatar > img {
    width: 100%;
}

.avatar-letters {
    background-color: var(--red);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
}

.avatar-icon {
    background-color: var(--navy);
}

.avatar > svg {
    height: 100%;
    width: 100%;
    transform: translateY(20px);
    color: whitesmoke;
}

.navy {
    background-color: #1F2937;
}

.pink {
    background-color: #DA6AEC;
}

.red {
    background-color: #F43F5E;
}

.blue {
    background-color: #2F74DC;
}

.green {
    background-color: #22CD90;
}